    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-email:before { content: "\f100"; }
.flaticon-email-1:before { content: "\f101"; }
.flaticon-email-10:before { content: "\f102"; }
.flaticon-email-11:before { content: "\f103"; }
.flaticon-email-12:before { content: "\f104"; }
.flaticon-email-13:before { content: "\f105"; }
.flaticon-email-14:before { content: "\f106"; }
.flaticon-email-15:before { content: "\f107"; }
.flaticon-email-16:before { content: "\f108"; }
.flaticon-email-2:before { content: "\f109"; }
.flaticon-email-3:before { content: "\f10a"; }
.flaticon-email-4:before { content: "\f10b"; }
.flaticon-email-5:before { content: "\f10c"; }
.flaticon-email-6:before { content: "\f10d"; }
.flaticon-email-7:before { content: "\f10e"; }
.flaticon-email-8:before { content: "\f10f"; }
.flaticon-email-9:before { content: "\f110"; }
.flaticon-inbox:before { content: "\f111"; }
.flaticon-mobile-phone:before { content: "\f112"; }
.flaticon-mobile-phone-1:before { content: "\f113"; }
.flaticon-mobile-phone-2:before { content: "\f114"; }
.flaticon-mobile-phone-3:before { content: "\f115"; }
.flaticon-mobile-phone-4:before { content: "\f116"; }
.flaticon-outbox:before { content: "\f117"; }
.flaticon-phone-book:before { content: "\f118"; }
.flaticon-phone-book-1:before { content: "\f119"; }
.flaticon-phone-book-2:before { content: "\f11a"; }
.flaticon-phone-call:before { content: "\f11b"; }
.flaticon-phone-call-1:before { content: "\f11c"; }
.flaticon-phone-call-2:before { content: "\f11d"; }
.flaticon-smartphone:before { content: "\f11e"; }
.flaticon-smartphone-1:before { content: "\f11f"; }
.flaticon-smartphone-2:before { content: "\f120"; }
.flaticon-smartphone-3:before { content: "\f121"; }
.flaticon-smartphone-4:before { content: "\f122"; }
.flaticon-speech-bubble:before { content: "\f123"; }
.flaticon-speech-bubble-1:before { content: "\f124"; }
.flaticon-speech-bubble-2:before { content: "\f125"; }
.flaticon-speech-bubble-3:before { content: "\f126"; }
.flaticon-speech-bubble-4:before { content: "\f127"; }
.flaticon-speech-bubble-5:before { content: "\f128"; }
.flaticon-speech-bubble-6:before { content: "\f129"; }
.flaticon-speech-bubble-7:before { content: "\f12a"; }
.flaticon-speech-bubble-8:before { content: "\f12b"; }
.flaticon-speech-bubble-9:before { content: "\f12c"; }
    
    $font-Flaticon-email: "\f100";
    $font-Flaticon-email-1: "\f101";
    $font-Flaticon-email-10: "\f102";
    $font-Flaticon-email-11: "\f103";
    $font-Flaticon-email-12: "\f104";
    $font-Flaticon-email-13: "\f105";
    $font-Flaticon-email-14: "\f106";
    $font-Flaticon-email-15: "\f107";
    $font-Flaticon-email-16: "\f108";
    $font-Flaticon-email-2: "\f109";
    $font-Flaticon-email-3: "\f10a";
    $font-Flaticon-email-4: "\f10b";
    $font-Flaticon-email-5: "\f10c";
    $font-Flaticon-email-6: "\f10d";
    $font-Flaticon-email-7: "\f10e";
    $font-Flaticon-email-8: "\f10f";
    $font-Flaticon-email-9: "\f110";
    $font-Flaticon-inbox: "\f111";
    $font-Flaticon-mobile-phone: "\f112";
    $font-Flaticon-mobile-phone-1: "\f113";
    $font-Flaticon-mobile-phone-2: "\f114";
    $font-Flaticon-mobile-phone-3: "\f115";
    $font-Flaticon-mobile-phone-4: "\f116";
    $font-Flaticon-outbox: "\f117";
    $font-Flaticon-phone-book: "\f118";
    $font-Flaticon-phone-book-1: "\f119";
    $font-Flaticon-phone-book-2: "\f11a";
    $font-Flaticon-phone-call: "\f11b";
    $font-Flaticon-phone-call-1: "\f11c";
    $font-Flaticon-phone-call-2: "\f11d";
    $font-Flaticon-smartphone: "\f11e";
    $font-Flaticon-smartphone-1: "\f11f";
    $font-Flaticon-smartphone-2: "\f120";
    $font-Flaticon-smartphone-3: "\f121";
    $font-Flaticon-smartphone-4: "\f122";
    $font-Flaticon-speech-bubble: "\f123";
    $font-Flaticon-speech-bubble-1: "\f124";
    $font-Flaticon-speech-bubble-2: "\f125";
    $font-Flaticon-speech-bubble-3: "\f126";
    $font-Flaticon-speech-bubble-4: "\f127";
    $font-Flaticon-speech-bubble-5: "\f128";
    $font-Flaticon-speech-bubble-6: "\f129";
    $font-Flaticon-speech-bubble-7: "\f12a";
    $font-Flaticon-speech-bubble-8: "\f12b";
    $font-Flaticon-speech-bubble-9: "\f12c";